<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        backupGlobals="false"
        bootstrap="tests/bootstrap.php"
        colors="true"
        processIsolation="false"
        beStrictAboutTestsThatDoNotTestAnything="false"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
        cacheDirectory=".phpunit.cache"
        backupStaticProperties="false"
>
  <testsuites>
    <!--
      Unit: standalone-runnable tests that do not depend on consumer-app
      (App\*) classes. These run in CI on every PR via Orchestra Testbench.
    -->
    <testsuite name="Unit">
      <file>./tests/Unit/Console/Commands/AuditAssetDimensionsCommandTest.php</file>
      <file>./tests/Unit/Console/Commands/ChargeRenewalTest.php</file>
      <file>./tests/Unit/Console/Commands/ResendMessageCommandTest.php</file>
      <file>./tests/Unit/Console/Commands/SendRenewalRemindersTest.php</file>
      <file>./tests/Unit/Database/ExternalAccountConnectionsMigrationTest.php</file>
      <file>./tests/Unit/Database/MigrationsTest.php</file>
      <file>./tests/Unit/Database/ArticlesOrganizationIndexMigrationTest.php</file>
      <file>./tests/Unit/Database/SourcesMigrationTest.php</file>
      <file>./tests/Unit/Exceptions/ExceptionInstantiationTest.php</file>
      <file>./tests/Unit/Exceptions/HandlerBranchCoverageTest.php</file>
      <file>./tests/Unit/Exceptions/HandlerTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/Article/ArticleVersionControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/Article/IterationControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/ArticleControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/AuthenticationControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/Ballot/BallotCompletionControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/BallotControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/CategoryControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/Collection/CollectionItemControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/CollectionControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/CollectionItemControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/Entity/AssetControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/Entity/CollectionControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/Entity/PaymentControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/Entity/PaymentMethodControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/Entity/ProfileImageControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/Entity/SubscriptionControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/FeatureControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/ForgotPasswordControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/InvitationTokenControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/MembershipPlan/MembershipPlanRateControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/MembershipPlanControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/MessageControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/Messaging/EmailTemplateControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/Messaging/PushTemplateControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/Organization/OrganizationManagerControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/OrganizationControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/ResourceControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/RoleControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/StatisticControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/StatusControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/User/ArticleNoteControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/User/BallotCompletionControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/User/ContactControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/User/Thread/MessageControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/User/ThreadControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/User/UserPageComponentControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/User/UserPageControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/UserControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Controllers/Wiki/ArticleSummaryControllerAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Requests/BaseAssetUploadRequestAbstractTest.php</file>
      <file>./tests/Unit/Http/Core/Requests/Traits/RejectsUnknownParamsFeatureTest.php</file>
      <file>./tests/Unit/Http/Core/Requests/Traits/RejectsUnknownParamsTest.php</file>
      <file>./tests/Unit/Http/Core/Requests/Traits/RequestTraitsTest.php</file>
      <file>./tests/Unit/Http/Middleware/ExpandParsingMiddlewareTest.php</file>
      <file>./tests/Unit/Http/Middleware/Issue404IfPageAfterPaginationMiddlewareTest.php</file>
      <file>./tests/Unit/Http/Middleware/JWTGetUserFromTokenProtectedRouteMiddlewareTest.php</file>
      <file>./tests/Unit/Http/Middleware/JWTGetUserFromTokenUnprotectedRouteMiddlewareTest.php</file>
      <file>./tests/Unit/Http/Middleware/JWTMiddlewareTestingEnvBypassTest.php</file>
      <file>./tests/Unit/Http/Middleware/LogMiddlewareTest.php</file>
      <file>./tests/Unit/Http/Middleware/LogMiddlewareTestingEnvTest.php</file>
      <file>./tests/Unit/Http/Middleware/SearchFilterParsingMiddlewareTest.php</file>
      <file>./tests/Unit/Http/Middleware/TrimStringsTest.php</file>
      <file>./tests/Unit/Jobs/CanDisplayOutputAbstractJobTest.php</file>
      <file>./tests/Unit/Listeners/Organization/OrganizationManagerCreatedListenerStandaloneTest.php</file>
      <file>./tests/Unit/Listeners/Statistic/StatisticListenersTest.php</file>
      <file>./tests/Unit/Listeners/User/SignUpListenerStandaloneTest.php</file>
      <file>./tests/Unit/Mail/DefaultEmailTemplatesTest.php</file>
      <file>./tests/Unit/Mail/RenderedEmailTest.php</file>
      <file>./tests/Unit/Mail/TemplatedMailableTest.php</file>
      <file>./tests/Unit/Models/Traits/HasModelCacheTest.php</file>
      <file>./tests/Unit/Models/Traits/HasValidationRulesAppendAndPrependTest.php</file>
      <file>./tests/Unit/Models/Traits/HasValidationRulesTest.php</file>
      <file>./tests/Unit/Observers/BaseModelCacheObserverTest.php</file>
      <file>./tests/Unit/Policies/AssetPolicyAbstractTest.php</file>
      <file>./tests/Unit/Policies/BaseBelongsToOrganizationPolicyAbstractTest.php</file>
      <file>./tests/Unit/Policies/BasePolicyAbstractTest.php</file>
      <file>./tests/Unit/Policies/CollectionPolicyAbstractTest.php</file>
      <file>./tests/Unit/Policies/ExternalAccountConnectionPolicyAbstractTest.php</file>
      <file>./tests/Unit/Policies/MessagingPolicyAbstractTest.php</file>
      <file>./tests/Unit/Policies/OrganizationArticlePolicyAbstractTest.php</file>
      <file>./tests/Unit/Policies/OrganizationPolicyAbstractTest.php</file>
      <file>./tests/Unit/Policies/PaymentPolicyAbstractTest.php</file>
      <file>./tests/Unit/Policies/SimpleAbstractPolicyTest.php</file>
      <file>./tests/Unit/Policies/StatisticPolicyAbstractTest.php</file>
      <file>./tests/Unit/Policies/SubscriptionPolicyAbstractTest.php</file>
      <file>./tests/Unit/Policies/UserPolicyAbstractTest.php</file>
      <file>./tests/Unit/Policies/VotePolicyAbstractTest.php</file>
      <file>./tests/Unit/Policies/WikiPolicyAbstractTest.php</file>
      <file>./tests/Unit/Providers/BaseAuthServiceProviderTest.php</file>
      <file>./tests/Unit/Providers/BaseRepositoryProviderResolveTest.php</file>
      <file>./tests/Unit/Providers/BaseRouteServiceProviderResolveTest.php</file>
      <file>./tests/Unit/Providers/BaseServiceProviderAbstractFallbackTest.php</file>
      <file>./tests/Unit/Providers/BaseServiceProviderPushBindingTest.php</file>
      <file>./tests/Unit/Providers/BaseServiceProviderResolveTest.php</file>
      <file>./tests/Unit/Providers/BaseValidatorProviderTest.php</file>
      <file>./tests/Unit/Push/DefaultPushTemplatesTest.php</file>
      <file>./tests/Unit/Push/RenderedPushNotificationTest.php</file>
      <file>./tests/Unit/Repositories/AssetRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/BaseRepositoryAbstractFixtureTest.php</file>
      <file>./tests/Unit/Repositories/BaseRepositoryAbstractTest.php</file>
      <file>./tests/Unit/Repositories/Collection/CollectionRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/Messaging/EmailTemplateRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/Messaging/MessageRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/Messaging/PushNotificationKeyRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/Messaging/PushTemplateRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/Messaging/ThreadRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/Payment/PaymentRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/RoleRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/Statistic/StatisticRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/Statistic/TargetStatisticRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/Subscription/MembershipPlanRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/Subscription/MembershipPlanUpdateTest.php</file>
      <file>./tests/Unit/Repositories/Subscription/SubscriptionRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/ThinWrapperRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/User/ArticleNoteRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/User/ContactRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/User/ExternalAccountConnectionRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/User/InvitationTokenRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/User/PasswordTokenRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/User/ProfileImageRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/User/UserRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/Vote/BallotCompletionRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/Vote/BallotItemRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/Vote/BallotRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/Wiki/ArticleIterationRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/Wiki/ArticleRepositoryTest.php</file>
      <file>./tests/Unit/Repositories/Wiki/ArticleVersionRepositoryTest.php</file>
      <file>./tests/Unit/Services/ArchiveHelperServiceTest.php</file>
      <file>./tests/Unit/Services/Asset/AssetConfigurationServiceTest.php</file>
      <file>./tests/Unit/Services/BaseModelCacheServiceTest.php</file>
      <file>./tests/Unit/Services/DirectoryCopyServiceTest.php</file>
      <file>./tests/Unit/Services/ExternalRateLimiterTest.php</file>
      <file>./tests/Unit/Services/Indexing/BaseResourceRepositoryServiceTest.php</file>
      <file>./tests/Unit/Services/Messaging/EmailTemplateRenderingServiceTest.php</file>
      <file>./tests/Unit/Services/Messaging/PushTemplateRenderingServiceTest.php</file>
      <file>./tests/Unit/Services/Messaging/SendPushNotificationServiceTest.php</file>
      <file>./tests/Unit/Services/Messaging/SendSlackNotificationServiceTest.php</file>
      <file>./tests/Unit/Services/Messaging/TemplateRenderingBoolAndNullVariableTest.php</file>
      <file>./tests/Unit/Services/NoopStripeCustomerServiceTest.php</file>
      <file>./tests/Unit/Services/ProratingCalculationServiceStandaloneTest.php</file>
      <file>./tests/Unit/Services/ProratingCalculationServiceUpgradeChargeTest.php</file>
      <file>./tests/Unit/Services/StringHelperServiceTest.php</file>
      <file>./tests/Unit/Services/TokenGenerationServiceTest.php</file>
      <file>./tests/Unit/Services/Wiki/ArticleVersionCalculationServiceTest.php</file>
      <file>./tests/Unit/ThreadSecurity/ThreadSubjectGateProviderTest.php</file>
      <file>./tests/Unit/Traits/CanGetAndUnsetTest.php</file>
      <file>./tests/Unit/Traits/HasExternalSourcesTest.php</file>
      <file>./tests/Unit/Validators/ArticleVersion/SelectedIterationValidatorEarlyReturnsTest.php</file>
      <file>./tests/Unit/Validators/BaseValidatorAbstractTest.php</file>
      <file>./tests/Unit/Validators/ForgotPassword/ForgotPasswordValidatorsEarlyReturnsTest.php</file>
      <file>./tests/Unit/Validators/InvitationTokenIsValidValidatorStandaloneTest.php</file>
      <file>./tests/Unit/Validators/NotPresentValidatorTest.php</file>
      <file>./tests/Unit/Validators/OwnedByValidatorStandaloneTest.php</file>
      <!-- Todo module + generic period/node-tree framework (standalone-runnable). -->
      <file>./tests/Unit/Support/CopyRuleSetTest.php</file>
      <file>./tests/Unit/Models/Traits/HasNodeTreeTest.php</file>
      <file>./tests/Unit/Models/User/TodoRotatingGroupTest.php</file>
      <file>./tests/Unit/Models/User/TodoRotatingItemTest.php</file>
      <file>./tests/Unit/Models/User/TodoSettingTest.php</file>
      <file>./tests/Unit/Models/User/TodoSubItemTest.php</file>
      <file>./tests/Unit/Models/User/TodoTaskNodeTest.php</file>
      <file>./tests/Unit/Models/User/TodoTaskNodeTreeContractTest.php</file>
      <file>./tests/Unit/Models/User/TodoTemplateTest.php</file>
      <file>./tests/Unit/Services/Todo/TodoPeriodLadderTest.php</file>
      <file>./tests/Unit/Services/Todo/TodoPeriodComponentCopierTest.php</file>
    </testsuite>

    <!--
      Consumer-Only: tests extracted from PolisOS that still reference
      consumer-app classes (App\Models\*, App\Policies\*, App\Listeners\*,
      etc.). These cannot run inside this package alone; they're intended
      to be executed by a consuming application's CI. NOT run by this
      repo's CI workflow. Listed here so they remain discoverable and can
      be migrated one-by-one to fixture-backed tests in the Unit suite.
    -->
    <testsuite name="Consumer-Only">
      <directory suffix="Test.php">./tests/Feature</directory>
      <directory suffix="Test.php">./tests/Integration</directory>
      <directory suffix="Test.php">./tests/Unit</directory>
      <exclude>./tests/Unit/Console/Commands/AuditAssetDimensionsCommandTest.php</exclude>
      <exclude>./tests/Unit/Console/Commands/ChargeRenewalTest.php</exclude>
      <exclude>./tests/Unit/Console/Commands/ResendMessageCommandTest.php</exclude>
      <exclude>./tests/Unit/Console/Commands/SendRenewalRemindersTest.php</exclude>
      <exclude>./tests/Unit/Database/MigrationsTest.php</exclude>
      <exclude>./tests/Unit/Exceptions/ExceptionInstantiationTest.php</exclude>
      <exclude>./tests/Unit/Exceptions/HandlerBranchCoverageTest.php</exclude>
      <exclude>./tests/Unit/Exceptions/HandlerTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/Article/ArticleVersionControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/Article/IterationControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/ArticleControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/AuthenticationControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/Ballot/BallotCompletionControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/BallotControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/CategoryControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/Collection/CollectionItemControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/CollectionControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/CollectionItemControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/Entity/AssetControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/Entity/CollectionControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/Entity/PaymentControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/Entity/PaymentMethodControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/Entity/ProfileImageControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/Entity/SubscriptionControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/FeatureControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/ForgotPasswordControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/InvitationTokenControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/MembershipPlan/MembershipPlanRateControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/MembershipPlanControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/MessageControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/Messaging/EmailTemplateControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/Messaging/PushTemplateControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/Organization/OrganizationManagerControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/OrganizationControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/ResourceControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/RoleControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/StatisticControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/StatusControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/User/ArticleNoteControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/User/BallotCompletionControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/User/ContactControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/User/Thread/MessageControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/User/ThreadControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/User/UserPageComponentControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/User/UserPageControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/UserControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Controllers/Wiki/ArticleSummaryControllerAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Requests/BaseAssetUploadRequestAbstractTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Requests/Traits/RejectsUnknownParamsFeatureTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Requests/Traits/RejectsUnknownParamsTest.php</exclude>
      <exclude>./tests/Unit/Http/Core/Requests/Traits/RequestTraitsTest.php</exclude>
      <exclude>./tests/Unit/Http/Middleware/ExpandParsingMiddlewareTest.php</exclude>
      <exclude>./tests/Unit/Http/Middleware/Issue404IfPageAfterPaginationMiddlewareTest.php</exclude>
      <exclude>./tests/Unit/Http/Middleware/JWTGetUserFromTokenProtectedRouteMiddlewareTest.php</exclude>
      <exclude>./tests/Unit/Http/Middleware/JWTGetUserFromTokenUnprotectedRouteMiddlewareTest.php</exclude>
      <exclude>./tests/Unit/Http/Middleware/JWTMiddlewareTestingEnvBypassTest.php</exclude>
      <exclude>./tests/Unit/Http/Middleware/LogMiddlewareTest.php</exclude>
      <exclude>./tests/Unit/Http/Middleware/LogMiddlewareTestingEnvTest.php</exclude>
      <exclude>./tests/Unit/Http/Middleware/SearchFilterParsingMiddlewareTest.php</exclude>
      <exclude>./tests/Unit/Http/Middleware/TrimStringsTest.php</exclude>
      <exclude>./tests/Unit/Jobs/CanDisplayOutputAbstractJobTest.php</exclude>
      <exclude>./tests/Unit/Listeners/Organization/OrganizationManagerCreatedListenerStandaloneTest.php</exclude>
      <exclude>./tests/Unit/Listeners/Statistic/StatisticListenersTest.php</exclude>
      <exclude>./tests/Unit/Listeners/User/SignUpListenerStandaloneTest.php</exclude>
      <exclude>./tests/Unit/Mail/DefaultEmailTemplatesTest.php</exclude>
      <exclude>./tests/Unit/Mail/RenderedEmailTest.php</exclude>
      <exclude>./tests/Unit/Mail/TemplatedMailableTest.php</exclude>
      <exclude>./tests/Unit/Models/Traits/HasModelCacheTest.php</exclude>
      <exclude>./tests/Unit/Observers/BaseModelCacheObserverTest.php</exclude>
      <exclude>./tests/Unit/Policies/AssetPolicyAbstractTest.php</exclude>
      <exclude>./tests/Unit/Policies/BasePolicyAbstractTest.php</exclude>
      <exclude>./tests/Unit/Policies/BaseBelongsToOrganizationPolicyAbstractTest.php</exclude>
      <exclude>./tests/Unit/Policies/CollectionPolicyAbstractTest.php</exclude>
      <exclude>./tests/Unit/Policies/MessagingPolicyAbstractTest.php</exclude>
      <exclude>./tests/Unit/Policies/OrganizationArticlePolicyAbstractTest.php</exclude>
      <exclude>./tests/Unit/Policies/OrganizationPolicyAbstractTest.php</exclude>
      <exclude>./tests/Unit/Policies/PaymentPolicyAbstractTest.php</exclude>
      <exclude>./tests/Unit/Policies/SimpleAbstractPolicyTest.php</exclude>
      <exclude>./tests/Unit/Policies/StatisticPolicyAbstractTest.php</exclude>
      <exclude>./tests/Unit/Policies/SubscriptionPolicyAbstractTest.php</exclude>
      <exclude>./tests/Unit/Policies/UserPolicyAbstractTest.php</exclude>
      <exclude>./tests/Unit/Policies/VotePolicyAbstractTest.php</exclude>
      <exclude>./tests/Unit/Policies/WikiPolicyAbstractTest.php</exclude>
      <exclude>./tests/Unit/Models/Traits/HasValidationRulesAppendAndPrependTest.php</exclude>
      <exclude>./tests/Unit/Models/Traits/HasValidationRulesTest.php</exclude>
      <exclude>./tests/Unit/Push/DefaultPushTemplatesTest.php</exclude>
      <exclude>./tests/Unit/Providers/BaseAuthServiceProviderTest.php</exclude>
      <exclude>./tests/Unit/Providers/BaseRepositoryProviderResolveTest.php</exclude>
      <exclude>./tests/Unit/Providers/BaseRouteServiceProviderResolveTest.php</exclude>
      <exclude>./tests/Unit/Providers/BaseServiceProviderAbstractFallbackTest.php</exclude>
      <exclude>./tests/Unit/Providers/BaseServiceProviderPushBindingTest.php</exclude>
      <exclude>./tests/Unit/Providers/BaseServiceProviderResolveTest.php</exclude>
      <exclude>./tests/Unit/Providers/BaseValidatorProviderTest.php</exclude>
      <exclude>./tests/Unit/Push/RenderedPushNotificationTest.php</exclude>
      <exclude>./tests/Unit/Repositories/BaseRepositoryAbstractFixtureTest.php</exclude>
      <exclude>./tests/Unit/Repositories/BaseRepositoryAbstractTest.php</exclude>
      <exclude>./tests/Unit/Repositories/RoleRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/ThinWrapperRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/Collection/CollectionRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/Messaging/EmailTemplateRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/Messaging/MessageRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/Messaging/PushNotificationKeyRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/Messaging/PushTemplateRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/Messaging/ThreadRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/Payment/PaymentRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/Statistic/StatisticRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/Statistic/TargetStatisticRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/Subscription/MembershipPlanRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/Subscription/MembershipPlanUpdateTest.php</exclude>
      <exclude>./tests/Unit/Repositories/Subscription/SubscriptionRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/User/ArticleNoteRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/User/ContactRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/User/InvitationTokenRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/User/PasswordTokenRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/User/UserRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/Vote/BallotCompletionRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/Vote/BallotItemRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/Vote/BallotRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/Wiki/ArticleIterationRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/Wiki/ArticleRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/Wiki/ArticleVersionRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/AssetRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Repositories/User/ProfileImageRepositoryTest.php</exclude>
      <exclude>./tests/Unit/Services/ArchiveHelperServiceTest.php</exclude>
      <exclude>./tests/Unit/Services/Asset/AssetConfigurationServiceTest.php</exclude>
      <exclude>./tests/Unit/Services/BaseModelCacheServiceTest.php</exclude>
      <exclude>./tests/Unit/Services/DirectoryCopyServiceTest.php</exclude>
      <exclude>./tests/Unit/Services/Indexing/BaseResourceRepositoryServiceTest.php</exclude>
      <exclude>./tests/Unit/Services/Messaging/EmailTemplateRenderingServiceTest.php</exclude>
      <exclude>./tests/Unit/Services/Messaging/PushTemplateRenderingServiceTest.php</exclude>
      <exclude>./tests/Unit/Services/Messaging/SendPushNotificationServiceTest.php</exclude>
      <exclude>./tests/Unit/Services/Messaging/SendSlackNotificationServiceTest.php</exclude>
      <exclude>./tests/Unit/Services/Messaging/TemplateRenderingBoolAndNullVariableTest.php</exclude>
      <exclude>./tests/Unit/Services/NoopStripeCustomerServiceTest.php</exclude>
      <exclude>./tests/Unit/Services/ProratingCalculationServiceStandaloneTest.php</exclude>
      <exclude>./tests/Unit/Services/ProratingCalculationServiceUpgradeChargeTest.php</exclude>
      <exclude>./tests/Unit/Services/StringHelperServiceTest.php</exclude>
      <exclude>./tests/Unit/Services/TokenGenerationServiceTest.php</exclude>
      <exclude>./tests/Unit/Services/Wiki/ArticleVersionCalculationServiceTest.php</exclude>
      <exclude>./tests/Unit/ThreadSecurity/ThreadSubjectGateProviderTest.php</exclude>
      <exclude>./tests/Unit/Traits/CanGetAndUnsetTest.php</exclude>
      <exclude>./tests/Unit/Validators/ArticleVersion/SelectedIterationValidatorEarlyReturnsTest.php</exclude>
      <exclude>./tests/Unit/Validators/BaseValidatorAbstractTest.php</exclude>
      <exclude>./tests/Unit/Validators/ForgotPassword/ForgotPasswordValidatorsEarlyReturnsTest.php</exclude>
      <exclude>./tests/Unit/Validators/InvitationTokenIsValidValidatorStandaloneTest.php</exclude>
      <exclude>./tests/Unit/Validators/NotPresentValidatorTest.php</exclude>
      <exclude>./tests/Unit/Validators/OwnedByValidatorStandaloneTest.php</exclude>
      <!-- Todo module + generic framework unit tests run in the Unit suite. -->
      <exclude>./tests/Unit/Support/CopyRuleSetTest.php</exclude>
      <exclude>./tests/Unit/Models/Traits/HasNodeTreeTest.php</exclude>
      <exclude>./tests/Unit/Models/User/TodoRotatingGroupTest.php</exclude>
      <exclude>./tests/Unit/Models/User/TodoRotatingItemTest.php</exclude>
      <exclude>./tests/Unit/Models/User/TodoSettingTest.php</exclude>
      <exclude>./tests/Unit/Models/User/TodoSubItemTest.php</exclude>
      <exclude>./tests/Unit/Models/User/TodoTaskNodeTest.php</exclude>
      <exclude>./tests/Unit/Models/User/TodoTaskNodeTreeContractTest.php</exclude>
      <exclude>./tests/Unit/Models/User/TodoTemplateTest.php</exclude>
      <exclude>./tests/Unit/Services/Todo/TodoPeriodLadderTest.php</exclude>
      <exclude>./tests/Unit/Services/Todo/TodoPeriodComponentCopierTest.php</exclude>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="QUEUE_DRIVER" value="sync"/>
    <env name="DB_CONNECTION" value="sqlite"/>
    <env name="DB_DATABASE" value=":memory:"/>
    <env name="APP_DEBUG" value="false"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
